<div class="container_filho_produtos">

    <div class="card-foto">
      <a href="/detalhes2/<%= cadprod[index].codigo %>"><img class="foto_produto" src="/images/produtos/<%= cadprod[index].codigo %>.jpg"></a>
    </div>

    <div class="card-texto">
      <div class="texto_produto_titulo"><%= cadprod[index].descricao %> </div>
      <div>Marca: <%= cadprod[index].marca %></div>
      <div>Modelo: <%= cadprod[index].modelo %></div>
      <div>Preço: <%= cadprod[index].preco %></div>   
    </div>
</div>