<%- include('./partials/header') %>

<div class="container-fluid">
  <div
    id="carouselExampleIndicators"
    class="carousel carousel-dark slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <% for (let index=0; index < cadprod.length ; index++) { %>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="<%= index %>"
        class="<%= index === 0 ? 'active' : '' %>"
        aria-current="true"
        aria-label="Slide <%= index %>"
      ></button>
      <% } %>
    </div>
    <div class="carousel-inner">
      <% for (let index=0; index < cadprod.length ; index++) { %>
      <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
        <div class="d-flex justify-content-center">
          <a href="./detalhes.html">
            <img
              src="/images/produtos/<%= cadprod[index].codigo %>.jpg"
              class="d-block carousel-img"
              alt="..."
            />
          </a>
        </div>
      </div>
      <% } %>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container container_pai_produtos">
  <% for (let index=0; index < cadprod.length ; index++) { %> <% include
  card.ejs %> <% } %>
</div>

<%- include('./partials/footer') %>
